
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 0;
  background-color: #ffff;
  color: #6070ff;
  text-decoration: none;
}

.logo {
  position: static;
  width: 76px;
  height: 30px;
  margin-left: 30px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.hamburger {
  text-decoration: none;
  position: fixed;
  padding-left: 300px;
  left: 16.67%;
  right: 16.67%;
  font-size: larger;
  border: none;
  color: #6070ff;
  background-color: transparent;
}

.content-section {
  background-image: url(images/bg.png);
  background-repeat: no-repeat;
  background-size: 440px;
  background-position-x: 5px;
  margin-left: 0;
}

.content {
  padding: 80px 20px;
  border-radius: 12px;
  margin-bottom: 50px;
  border: 1px solid #dfe1e6;
  padding-top: 16px;
  padding-bottom: 28px;
}

.content-text {
  position: static;
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.content-text-p {
  position: static;
  width: 300px;
  height: 150px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social-connect {
  text-align: left;
  position: static;
  width: 117px;
  height: 2px;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 25px;
  margin-bottom: 29px;
  text-decoration: none;
  list-style: none;
}

.social-media {
  text-align: left;
  position: static;
  width: 117px;
  height: 24px;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 10px;
  margin-bottom: 2px;
}

.social-list {
  padding: 0;
  width: 200px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.social-media-icons {
  display: inline;
  margin-right: 15px;
}

.works {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  min-height: 100vh;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.works h2 {
  width: 295px;
  height: 36px;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 227px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content-text-px {
  position: static;
  width: 300px;
  height: 80px;
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content-x {
  align-items: center;
  flex-direction: column;
  padding-left: 30px;
}

.post {
  padding-bottom: 30px;
}

.tags {
  width: 203px;
  height: 24px;
}

.tags ul {
  display: flex;
  flex-direction: row;
  padding: 0.1px;
}

.tags li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  background-size: contain;
  order: 0;
  flex-grow: 0;
  margin-left: 5px;
  float: left;
}

.tags a {
  text-decoration: none;
}

.tag-item {
  width: 29px;
  height: 16px;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding-left: 7px;
  flex: none;
  order: 0;
  flex-grow: 0;
  align-items: center;
}

.button {
  display: flex;
  flex-direction: row;
  padding: 12px;
  gap: 10px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 130px;
  height: 48px;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
}

.action {
  width: 300px;
  height: 48px;
  padding-top: 24px;
  border-radius: 8px;
  background-color: #fff;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button-x {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  background: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: 170px;
  height: 48px;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
}

.button-x:hover {
  background-color: #6070ff;
  color: #fff;
}

.lang {
  display: flex;
  align-items: center;
}

.lang a {
  text-decoration: none;
  color: #000;
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
  padding-top: 5px;
}

.separator {
  background: #dfe1e6;
  height: 1px;
  width: 327px;
  margin-top: 23px;
  list-style-type: none;
}

.framex {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.framex a {
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding-left: 15px;
  text-decoration: none;
  color: #253858;
  padding-top: 20px;
  list-style-type: none;
}
.contact-me {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 65px;
  height: 779px;
  background: #6070ff;
}

footer .content h2 {
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding-left: 20px;
}

footer .content p {
  font-family: 'poppins', sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

